<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Libs CSS -->
<link rel="stylesheet" href="@@webRoot/assets/fonts/Feather/feather.css">
<link rel="stylesheet" href="@@webRoot/node_modules/flickity/dist/flickity.min.css">
<link rel="stylesheet" href="@@webRoot/node_modules/flickity-fade/flickity-fade.css">
<link rel="stylesheet" href="@@webRoot/node_modules/aos/dist/aos.css">
<link rel="stylesheet" href="@@webRoot/node_modules/jarallax/dist/jarallax.css">
<link rel="stylesheet" href="@@webRoot/node_modules/highlightjs/styles/vs2015.css">
<link rel="stylesheet" href="@@webRoot/node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min.css">

<!-- Map -->
<!-- <link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' /> -->

<!-- Theme CSS -->
<!-- build:css @@webRoot/assets/css/theme.min.css -->
<link rel="stylesheet" href="@@webRoot/assets/css/theme.css">
<!-- endbuild -->


<link href="@@webRoot/assets/comparison/twentytwenty.css" rel="stylesheet" type="text/css"/>

<!-- video player -->
<link href="https://vjs.zencdn.net/7.7.5/video-js.css" rel="stylesheet" />
<!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
<script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>


<title>@@pageTitle</title>